<!--
 <div class="a"> -->
  <!-- <button (click)="increment()">+</button>

  <div>Current Count: {{ (count$ | async) }}</div>

  <button (click)="decrement()">-</button>

  <button (click)="reset()">Reset </button>
</div> -->

<div class="page-container">
  <div class="cacl">
    <div id="title">Casio</div>
    <div class="input">
      <div id="text"> {{(calc$ | async)?.display}}</div>
      <div id="text">{{(calc$ | async)?.op}}</div>
    </div>

    <div class="btn-container" >
      <div id="line1">
          <button class="btn" (click)="addDigit('1')" >1</button>
          <button class="btn" (click)="addDigit('2')" >2</button>
          <button class="btn" (click)="addDigit('3')">3</button>
          <button class="btn" (click)="addOperator('+')">+</button> <br>

      </div>

      <div id="line2">
        <button class="btn" (click)="addDigit('4')">4</button>
        <button class="btn" (click)="addDigit('5')">5</button>
        <button class="btn" (click)="addDigit('6')">6</button>
        <button class="btn" (click)="addOperator('-')">-</button>

      </div>

      <div id="line3">
        <button class="btn" (click)="addDigit('7')">7</button>
        <button class="btn" (click)="addDigit('8')">8</button>
        <button class="btn" (click)="addDigit('9')">9</button>
        <button class="btn" (click)="addOperator('x')">x</button>

      </div>

      <div id="line4">
        <button class="btn" (click)="reset()">C</button>
        <button class="btn" (click)="addDigit('0')">0</button>
        <button class="btn" (click)="calculate()">=</button>
        <button class="btn" (click)="addOperator(':')">:</button>
      </div>
    </div>
  </div>
</div>


<router-outlet> </router-outlet>

<!-- <div>

  </div>



  <div>

  </div>

 <div>

 </div>

  <div>

  </div> -->
